body
{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("pat.jpeg");
	height: 100%;
	background-size: cover;
	background-position: center;
}
/*menu*/
{
	text-align: center;
	list-style-type: none;
	margin-top: 25px;
	margin-bottom: 25px;
}
ul li
{
	display: inline-block;
}
ul li a
{
	text-decoration: none;
	color: #ffff;
	padding: 10px 50px;
	font-size: 25px;
	font-family: times;
}
ul li a:hover
{
	background-color: #ffff;
	color: #0489B1;
	cursor: pointer ;
	transition: 0.6s ease;
}
ul li#current a
{
	background-color: #ffff;
	color: #0489B1;
}
/*headings*/
.h1
{
	background-color: #ffff;
	text-align: center;
	font-family: verdana;
	font-size: 80px;
	color: #0489B1;
	border: 2px solid #0489B1;
}
h1
{
	color: #ffff;
	font-size: 42px;	
}
h3
{
	color: #ffff;
	font-size: 32px;
}
h2
{
	color: #ffff;
	font-size: 28px;
}
/*paragraph*/
p
{
	color: #ffff;
	font-size: 22px;
}
/*aboutus*/
.aboutus
{
	text-align: center;
}
/*footer*/
footer
{
	background-color: #ffff;
	height: 100;
	text-align: center;
	color: #0489B1;
	font-size: 30px;
}
/*form*/
input 
{
	height: 58px;
	width: 364px;
	background-color: white;
	border: 4px solid  #0489B1;  
}
textarea
{
	height: 78px;
	width: 364px;
	background-color: white;
	border: 4px solid  #0489B1; 	
}
.btn
{
	height: 58px;
	width: 184px;
	background-color: #0489B1;
	border: 4px solid  #ffff; 	
	font-size: 20px;
	color: white;
	margin-bottom: 13px;
}
.btn:hover
{
	height: 58px;
	width: 184px;
	background-color: white;
	border: 4px solid  #0489B1; 
	color: #0489B1;
	margin-bottom: 13px;		
}